@font-face {
    font-family: "Sen Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Sen Regular"),
    url("../assets/font/sen-cufonfonts-webfont/Sen-Regular.woff") format("woff");
}
  
@font-face {
    font-family: "Sen Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Sen Regular"),
    url("../assets/font/sen-cufonfonts-webfont/Sen-Regular.woff") format("woff");
}
  
@font-face {
    font-family: "Sen Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Sen Bold"),
    url("../assets/font/sen-cufonfonts-webfont/Sen-Bold.woff") format("woff");
}
  
@font-face {
    font-family: "Sen ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: local("Sen ExtraBold"),
    url("../assets/font/sen-cufonfonts-webfont/Sen-ExtraBold.woff")
    format("woff");
}



*{
    font-family: "Sen Regular";
    margin-bottom: 0;
    a{
        text-decoration: none;
    }
    
}
/*Resuable Code for Header */
.Logo_section{
    display: inline-block;
    

}
.Logo_section, img{
    height: 50px;
    vertical-align: middle;
    margin-left: 5px;
}

.IRB_title{
    display: inline-block;
    vertical-align: middle;
    font-size: 5px;
    line-height: 0.5;
    margin-top: -10px;

    font-weight: bolder;
    color: #333333;
}

#menu_bar{
    margin-top: 7px;
    padding: 20px 5px 20px 35px;
    background-color: #B13635;
}

.inner_menu_bar {
    padding: 10px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50px;

}

.inner_menu_bar, a{
    color: white;
    padding-right: 20px;
}

.inner_menu_bar a:not(:last-child)::after{
    content: "•";
    color: #8B0000;
    margin-left: 20px;
}

.inner_menu_bar a:first-child{
    padding-left: 15px;
}

.inner_menu_bar a:last-child{
    padding-right: 50px;
}


#User_profile{
    display: inline-block;
    margin-left: 30%;
}

#User_profile p1{
    background-color: white;
    color: #8B0000;
    border: 2px solid #8B0000; 
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    margin-right: 3px;
}

#User_profile img{
    border-radius: 50%
}

/* Body of Researchers Dashboard*/
#notification_panel {
    border: 2px solid #8B0000;
    background-color: #F5F5F5;
    padding-bottom: 150px;
    width: 60%;
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius:8px;
}

#notification_panel h2{
    font-weight: medium;
    margin-left: 5px;
}

#notification_panel p{
    
    width: 100px;
    height: 10px;
    margin-top: 30px;
    margin-left: 5%;
}

#page_button_area{
    display: inline-block;
    padding: 80px 0px 80px 0px;
    padding-right: 0%;
    margin-left: 17%;
    margin-bottom: 3%;
}

#view_users_button{
    background-color: #8B0000;
    padding-right: 0%;
    margin-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;

}

#view_users_button a{
   padding: 80px 75px 80px 75px;
}


#view_reviews_button{
    background-color: #8B0000;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-right: 80px;
}

#view_reviews_button a{
    padding: 80px 65px 80px 65px;
}

#configure_button{
    background-color: #8B0000;
    padding-top: 80px;
    padding-bottom: 80px;
}

#configure_button a{
    padding: 80px 55px 80px 55px;
}

#prev_sub_page{
    min-height: 50vh;
}

#prev_sub_table{
    margin-top: 5%;
    margin-left: 25%;
}

#prev_sub_table th{
    padding-right: 25px;
}

#prev_sub_page{
    min-height: 50vh;
}
table{
    color: #333333;
    margin-bottom: 4%;
    a{
        color: #333333;
    }
}
tr:nth-child(even) {
    background-color: #F5F5F5;
}

.wrap{
    /* background-color: green; */
    margin-left: 20%;
    margin-right: 20%;
    
}

.bar{
    margin-bottom: 2%;
}

.score_title{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 120px;
}

.bar{
    height: 10px;
    background-color: #282828;
    border-radius: 3px;
    margin-bottom: 15px;
}

.score-per{
    height: 10px;
    background: linear-gradient(to bottom right, #ff6b6b, #d13639);
}

.score-percentage{
   font-size: medium;
}

.little-wrap{
    display:  none;
}

#view_prev{
    display: none;
    color: #3d3a3a;
    margin-top: 5%;
    margin-bottom: 5%;
}

#view_prev h2{
    font-weight: lighter;
    text-align: center;
}

#view_prev div{
    background-color: #F5F5F5;
    padding: 60px;
    padding-bottom: 200px;
}

#view_proposal, #view_comments{
    margin-bottom: 4%;
}
#collapse_button{
    color: #fff;
    background-color: #8B0000;
    padding: 15px;
    margin-left: 38%;
    margin-top: 15%;
}

#collapse_button:hover, .view_more:hover{
    cursor:pointer;
}

#plag_button{
    color: #fff;
    background-color: #8B0000;
    
    padding: 15px;
    padding-right: 0px;
    margin-left: 35%;
    margin-top: 15%;
}

#plag_button:hover, .view_more:hover{
    cursor:pointer;
}





/* Reusable code for Footer */
footer{
    background-color: #605A5A;
    margin-top: 5%;
    padding: 70px;
   
}

.foot-message{
    
    font-size:30px ;
}

#foot_logo{
    width: 100px; height: auto;
}

.socials{
    float: right;
}